.header {
    display: flex;
    width: calc(100% - #{$sidebar-width});

    background-color: #0d0d0d;
    box-shadow: 0 5px 22px rgba($black, .25);

    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-header;

    @include breakpoint($tablet-bp) {
        width: 100%;
    }
}

.header_left {
    width: 60%;

    @include breakpoint($tablet-bp) {
        width: 40%;
    }
}

.header_right {
    display: flex;
    width: 40%;
    justify-content: flex-end;

    @include breakpoint($tablet-bp) {
        width: 60%;
    }
}