<div class="modal" id="contact-modal">
    <div class="modal_content modal_content--contact">
        <button class="modal_close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>

        <form class="form" action="" method="POST">

            <div class="form_group form_group--md">
                <input class="form_control" type="text" placeholder="Ваше имя">
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <input class="form_control" type="email" placeholder="Ваш e-mail">
                <span class="form_line"></span>
            </div>

            <div class="form_group form_group--md">
                <textarea class="form_control form_control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form_line"></span>
            </div>

            <div class="form_footer">
                <div class="form_group form_group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>

        </form>

        <ul class="modal_footer">
            <li> e-mail: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a></li>
            <li> тел: <a href="tel:+94323285622">+943-232-856-22</a></li>
        </ul>
    </div>
</div>