<div class="modal">
    <div class="modal_content">
        <button class="modal_close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>


        <ul class="social">
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/share/facebook.svg" alt="" />
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/share/twitter.svg" alt="" />
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/share/vk.svg" alt="" />
                </a>
            </li>
            <li class="social_item">
                <a class="social_link" href="#">
                    <img src="assets/images/share/copy.svg" alt="" />
                </a>
            </li>
        </ul>

    </div>
</div>